nav.c-navigation(role='navigation')
  ul.u-list-unstyled.c-navigation__list
    each item, index in navigation
      if item.enabled
        li.c-navigation__item(class=item.icon ? 'c-navigation__item--iconized' : '')
          a.c-navigation__link(href=item.url)
            //- if item.icon
            //-   svg(class=`icon icon--${item.name}`)
            //-     use(xlink:href=`#${item.name}-icon`)
            span.c-navigation__item__title #{item.title}