//- content
meta(
  name='description',
  itemprop='description',
  content='Brenner is a one-person company from Ghent (Belgium) that provides coding & consulting services on a freelance basis.'
)
meta(
  name='keywords',
  itemprop='keywords',
  content='freelance, frontend, front-end, development, ghent, gent, belgium, belgië, html, jade, css, sass, scss, css architect, css architecture, javascript, consulting'
)
//- link(
//-   rel='canonical',
//-   href='http://brenner.company/'
//- )
meta(
  property='og:title',
  content='#{site.name} - #{site.description}'
)
meta(
  property='og:site_name',
  content='Brenner'
)
meta(
  property='og:type',
  content='website'
)
meta(
  property='og:url',
  content='http://brenner.company/'
)